*body{background: rgb(200, 200, 222);
font-family: Arial, Helvetica, sans-serif;
font-style:italic;
margin: 10px;
padding: 5px;
}

header{
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
.text{
    color: rgb(196, 69, 69);
    background-color: aliceblue;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.media{
    display: block;
    text-align: center;
    margin: 3px 30%;
    

}
.media img{
    width: 500px;

}
.text{
    color: rgb(27, 13, 13);
    text-align: center;
    font-size: larger;
    width: auto;
    border-radius: 30px;

}

.button {
    color: aqua;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    background: blue}
    
    NAV{
        color: blue;
        text-align: center;
        padding: 5px;
        margin: 3px;
        border-radius: 0cqmax;
    }

footer{
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}
button{
    color: aliceblue;
    background-color: blue;
    text-align: right;
    cursor: pointer;
}
.job-listing{
    padding: 8px;
    margin: 3px;
    text-align: center;
    color: rgb(13, 15, 119);
    background-color: rgb(189, 175, 175);
}
.post input{
    display:block;

}
.register input{
display: block;

}

.container img{
    width: 500px;
    
}

.container{
    text-align: center;
}
.explain{
    text-align: center;
    
}
.button{
    text-align: center;
}
.aim{
    text-align: center;
}

@media(
    min-width: 800px){
body{
    width: 98%;
    margin: 10px;
}


}
footer{
    margin-top: 80px;
}
